@import "tailwindcss";

:root {
  /* User requested palette */
  --color-bg-light: #E3E3E3;
  --color-slate-blue: #456882;
  --color-deep-blue: #234C6A;
  --color-dark-navy: #1B3C53;
  
  --background: var(--color-bg-light);
  --foreground: var(--color-dark-navy);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

